# ---------------------------
# Python
# ---------------------------
__pycache__/
*.pyc
*.pyo
*.pyd
*.log

# ---------------------------
# Archivos de entorno / secretos
# ---------------------------
.env

# ---------------------------
# Archivos generados automáticamente
# ---------------------------
- /static/datos.json
+ # /static/datos.json


# ---------------------------
# IDEs / editores
# ---------------------------
.vscode/
.idea/
